@using NetBanking.Core.Application.ViewModels.Transactions
@model SaveTransactionsViewModel
<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h4>Registro de nuevo usuario</h4>
                </div>
                <div class="card-body">
                    <form method="post" asp-controller="User" asp-action="Register">
                        <input type="hidden" asp-for="Type" value="3" class="form-control" />
                        <div class="mb-3">
                            <label asp-for="UserProductId" class="form-label">Cuenta de origen: </label>
                            <input asp-for="UserProductId" class="form-control" />
                            <span asp-validation-for="UserProductId" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Amount" class="form-label">Monto: </label>
                            <input asp-for="Amount" type="number" class="form-control" />
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="RecipientProductId" class="form-label">Prestamo de destino: </label>
                            <input asp-for="RecipientProductId" class="form-control" />
                            <span asp-validation-for="RecipientProductId" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary">Realizar</button>
                        <a asp-controller="Pagos" asp-action="Index" class="btn btn-warning">Volver atras</a>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>