@model List<NetBanking.Core.Application.ViewModels.Products.ProductsViewModel>;
@{
    int cont = 0;
    float monto = 0;
}
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tipo de cuenta</th>
                    <th>Monto</th>
                    <th>
                        <a class="btn btn-info btn-sm" asp-controller="Products" asp-action="AddProduct">Nuevo</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (NetBanking.Core.Application.ViewModels.Products.ProductsViewModel products in Model)
                {
                    cont++;
                    <tr>
                        <td>@cont</td>
                        <td>@products.ProductName</td>
                        <td>@monto</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
