@using NetBanking.Core.Application.ViewModels.Users;
@model SaveUsersViewModel
@{
    ViewData["Title"] = "Registro de clientes";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h4>Registro de nuevo cliente</h4>
                </div>
                <div class="card-body">


                    <form method="post" asp-controller="User" asp-action="RegisterUser">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        @if (Model.HasError)
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <p>@Model.Error</p>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }
                        <div class="mb-3">
                            <div class="row">
                                <div class="col-6">
                                    <label asp-for="FirstName" class="form-label">Nombre: </label>
                                    <input asp-for="FirstName" class="form-control" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="col-6">
                                    <label asp-for="LastName" class="form-label">Apellido: </label>
                                    <input asp-for="LastName" class="form-control" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="row">
                                <div class="col-6">
                                    <label asp-for="Identification" class="form-label">Cédula: </label>
                                    <input asp-for="Identification" class="form-control" />
                                    <span asp-validation-for="Identification" class="text-danger"></span>
                                </div>
                                <div class="col-6">
                                    <label asp-for="Username" class="form-label">Nombre de usuario: </label>
                                    <input asp-for="Username" class="form-control" />
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="row">
                                <div class="col-6">
                                    <label asp-for="Password" class="form-label">Contraseña: </label>
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label asp-for="ConfirmPassword" class="form-label">Confirmar contraseña: </label>
                                        <input asp-for="ConfirmPassword" class="form-control" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="row">
                                <div class="col-6">
                                    <label asp-for="Phone" class="form-label">Teléfono: </label>
                                    <input asp-for="Phone" class="form-control" />
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                                <div class="col-6">
                                    <label asp-for="Email" class="form-label">Correo: </label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="row">
                                <div class="col-6">
                                    <label asp-for="RolId" class="form-label">Rol: </label>
                                    <select asp-for="RolId" asp-items="@(new SelectList(Model.Roles,"Id","Name"))" class="form-select form-control" onchange="showMonto()" id="rol">
                                    </select>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="col-6" id="monto">
                                    <label asp-for="Amount" class="form-label">Monto Inicial: </label>
                                    <input asp-for="Amount" class="form-control" />
                                    <span asp-validation-for="Amount" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a asp-controller="User" asp-action="Index" class="btn btn-warning">Volver atrás</a>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    var selection = document.getElementById('rol');
    function showMonto() {
        var selectedOption = selection.options[selection.selectedIndex].index;

        if (selectedOption == 0) {
            $("#monto").show();
        } else if (selectedOption == 1) {
            $("#monto").hide();
        }
    }
    window.onload = function () {
        showMonto();
    };
 
</script>