@model List<NetBanking.Core.Application.ViewModels.Users.UsersViewModel>;

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Cedula</th>
                    <th>Correo</th>
                    <th>
                        <button type="button" class="btn btn-info btn-sm" onclick="location.href='@Url.Action("Create", "User")'">Nuevo</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (NetBanking.Core.Application.ViewModels.Users.UsersViewModel user in ViewBag.usuarios)
                {
                    <tr>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
